# Secrets
/.env

# Sistem specific overrides to neo4j docker
main/docker-compose.override.yml

# Database logs and data
main/neo4j_db/logs
main/neo4j_db/data

# Python Cache
main/python/__pycache__
# Python Connection test
main/python/connection_test.py