.side {
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    width: 65%;
    left: 0;
    background: #d9bda5;
}

.right {
    width: 35%;
    right: 0;
    background: #e5cbba;
}

.bottomRight {
    position: fixed;
    right: 0;
    bottom: 0;
}

.textFormLeft {
    z-index: 1;
    
    overflow-x: hidden;
}

.textFormRight {
    z-index: 1;
    align-content: end;
    overflow-x: hidden;
}

.halves {
    width: 50%
}

.Indented {
    width: 90%;
    ali: 0;
    z-index: 1;
    overflow-x: hidden;
}