<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.0/cytoscape.min.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="/static/js/nodeColors.js"></script>
        <script src="/static/js/autoComplete.js"></script>
        <script src="/static/js/formHandler.js"></script>
        <script src="/static/js/graphHandler.js"></script>
        
        <title>Home</title>


        <script type="text/javascript">
            // Dynamically adjust the height of textareas
            function autoResizeTextArea(textarea) {
                textarea.style.height = 'auto'; // Reset height to auto to calculate correct scrollHeight
                textarea.style.height = `${textarea.scrollHeight}px`; // Set the height based on scrollHeight
            }

            // Add event listeners to all textareas on page load
            window.addEventListener('load', () => {
                const textareas = document.querySelectorAll('textarea');
                textareas.forEach((textarea) => {
                    // Adjust height on page load for pre-filled content
                    autoResizeTextArea(textarea);

                    // Add event listener to resize as user types
                    textarea.addEventListener('input', () => autoResizeTextArea(textarea));
                });
            });
        </script>
    </head>

    <body>
        <div class="row no-gutters">
            <div class="left side no-gutters">
                <form id="searchForm" action="{{ url_for('setNode') }}" method="post" class="searchForm">
                    <input type="text" class="form-control" id="searchNode" name="search" autocomplete="off" placeholder="Search Node">
                    <button type="submit" style="display:none;"></button>
                </form>
                <div id="cy" style="width: 100%; height: 93%;"></div>
            </div>

            <div class="right side no-gutters" name="form">
                <h5>Node</h5>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="label" name="label" 
                               autocomplete="off" value="{{ activeNode.label }}" placeholder="Node Label">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="name" name="name" 
                               autocomplete="off" value="{{ activeNode.name }}" placeholder="Node Name">
                    </div>
                </div>
            
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Properties</h5>
                    <a href="{{ url_for('addProperty') }}">
                        <button class="btn btn-primary ms-3" type="button">Add Property</button>
                    </a>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <colgroup>
                            <col style="width: 40%;">
                            <col style="width: 60%;">
                            <col style="width: auto;">
                        </colgroup>
                        <tbody>
                            {% for i in range(activeNode.properties|length) %}
                            <tr>
                                <td>
                                    <input type="text" class="form-control" id="property_{{i}}" 
                                           name="property_{{i}}" autocomplete="off" 
                                           value="{{ activeNode.properties[i][0] }}" placeholder="Property">
                                </td>
                                <td>
                                    <textarea class="form-control" id="property_{{i}}_value" 
                                              name="property_{{i}}_value" autocomplete="off" 
                                              placeholder="Value">{{ activeNode.properties[i][1] }}</textarea>
                                </td>
                                <td>
                                    <form action="{{ url_for('deleteProperty') }}" method="post" class="mb-0">
                                        <input type="text" id="propertyKey" name="propertyKey" hidden="true" value="{{ activeNode.properties[i][0] }}">
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="row no-gutters">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Edges</h5>    
                        <a href="{{ url_for('addEdge') }}">
                            <button class="btn btn-primary ms-3" type="button">Add Edge</button>
                        </a>
                    </div>
                </div>

                {% for i in range(activeNode.edges|length) %}
                <div class="card my-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <input type="text" class="form-control me-3" id="edgeType_{{i}}"
                               placeholder="Type" autocomplete="off" 
                               value="{{ activeNode.edges[i].type }}">
                        <form action="{{ url_for('deleteEdge') }}" method="post" class="mb-0">
                            <input type="text" id="index" name="index" hidden="true" value="{{i}}">
                            <button class="btn btn-danger btn-sm" type="submit">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="edgeNodeLabel" name="edgeNodeLabel" 
                                       placeholder="Edge Label" autocomplete="off" 
                                       value="{{ activeNode.edges[i].label }}">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="edgeNode" name="edgeNode" 
                                       placeholder="Edge Name" autocomplete="off" 
                                       value="{{ activeNode.edges[i].name }}">
                            </div>
                        </div>
                
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <h6 class="mb-0">Edge Properties</h6>
                            <form action="{{ url_for('addEdgeProperty') }}" method="post" class="mb-0">
                                <input type="text" id="index" name="index" hidden="true" value="{{i}}">
                                <button class="btn btn-primary btn-sm" type="submit">Add Edge Property</button>
                            </form>
                        </div>
                
                        <table class="table table-sm mt-3">
                            <colgroup>
                                <col style="width: 40%;">
                                <col style="width: 60%;">
                                <col style="width: auto;">
                            </colgroup>
                            {% for j in range(activeNode.edges[i].properties|length) %}
                            <tr>
                                <td><input type="text" class="form-control" id="edgeProperty_{{i}}_{{j}}" 
                                    name="property_{{i}}_{{j}}" placeholder="Edge Property" autocomplete="off" 
                                    value="{{ activeNode.edges[i].properties[j][0] }}"></td>
                                <td><textarea class="form-control" id="edgeProperty_{{i}}_{{j}}_value" 
                                    name="property_{{i}}_{{j}}_value" placeholder="Edge Property Value" autocomplete="off">{{ activeNode.edges[i].properties[j][1] }}</textarea>
                                </td>
                                <td>
                                    <form action="{{ url_for('deleteEdgeProperty') }}" method="post" class="mb-0">
                                        <input type="text" id="index" name="index" hidden="true" value="{{i}}">
                                        <input type="text" id="edgePropertyKey" name="edgePropertyKey" hidden="true" value="{{ activeNode.edges[i].properties[j][0] }}">
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endfor %}
                
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-primary" type="submit" onclick="collectFormData()">Save</button>
                    <a href="{{ url_for('deleteNode') }}">
                        <button class="btn btn-danger ms-2" type="button">
                            <i class="fa fa-trash"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>